# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../:\PT_30229_Buzila_Andra_Assignmenttt\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
